//META {
    "name":"Black n Blue","description":"This is a very basic theme i am creating which is Black and Blue. Because it is a github repo it automatically updates so you just have to reload Discord.","author":"CreamCheese (C.C.)","version":"1.0v"
}

*// {
}

/* Backgrounds */

.app,
.callout-backdrop {
    background-image: url("http://i.imgur.com/6uYrVHq.jpg");
    background-size: cover !important;
    background-position: center !important;
}

.bda-backdrop {
    background: url("http://i.imgur.com/6uYrVHq.jpg");
    background-size: cover !important;
}

#pubs-container:before {
    background: url("http://i.imgur.com/6uYrVHq.jpg") !important;
    background-size: cover !important;
}

.layers,
.layer,
.search-header {
    background: transparent !important;
}
